* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background: #0f95b0;
    background-size: cover;
    position:relative;
}
.tab_top {
    position: fixed;
    width: 100%;
    top:0;
    height: 40px;
    background: #000;
    box-shadow: 0 1px 2px #666;
}
.tab_list_x a {
    color: #ccccd6;
    display: block;
}
.tab_list_x a:hover {
    background: #666;
}
.tab_list_y {
    position: relative;
    float: left;
    width: 80px;
    line-height: 40px;
    text-align: center;
}
.tab_list_y:hover .drop_list {
    display: block;
}
.login {
    position: absolute;
    width: 100px;
    line-height: 40px;
    text-align: center;
    right: 0;
}
.drop_list {
    color: #ccccd6;
    background: #000;
    box-shadow: 0 1px 2px #333;
    display: none;
    border-radius: 6px;
    overflow: hidden;
}
.drop_list li {
    border-top: 1px solid #666;
}
.introduction {
    position: absolute;
    margin: auto;
    top: 200px;
    left: 250px;
    width: 60%;
}
.introduction h1 {
    font-size: 40px;
    text-align: center;
}
.introduction p {
    text-align: left;
    line-height: 200%;
    font-size: 20px;
    font-weight: bold;
}
.my_message {
    position: absolute;
    border: #666;
    border-radius: 6px;
    left: 20px;
    top: 200px;
    width: 160px;
    height: 240px;
    background-color: #000;
}
.my_message img {
    object-fit: cover;
    height: auto;
    width: 120px;
}
.my_message p {
    color: #ccccd6;
    text-align: center;
    font-weight: bold;
}